{{ if and (gt (now.Format "20060102") 20180329) (lt (now.Format "20060102") 20180403) }}
{{ if eq (.Get "for") "guide" }}
{{ else if eq (.Get "for") "guide-buy" }}
{{ else if eq (.Get "for") "guides-all" }}
{{ else if eq (.Get "for") "call" }}
{{ else if eq (.Get "for") "call-buy" }}
{{ else if eq (.Get "for") "mentoring" }}
{{ else if eq (.Get "for") "mentoring-buy" }}
{{ else if eq (.Get "for") "resources" }}
{{ end }}
{{ else }}
{{ if eq (.Get "for") "guide" }}
<p><mark>🔥 <em><strong>New!</strong> Updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ else if eq (.Get "for") "guide-buy" }}
{{ else if eq (.Get "for") "guides-all" }}
<p><mark>🔥 <em><strong>New!</strong> All of my pocket guides have been updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ else if eq (.Get "for") "call" }}
{{ else if eq (.Get "for") "call-buy" }}
{{ else if eq (.Get "for") "mentoring" }}
{{ else if eq (.Get "for") "mentoring-buy" }}
{{ else if eq (.Get "for") "resources" }}
{{ else if eq (.Get "for") "home" }}
<p><mark>🔥 <em><strong>NEW: <a href="https://vanillajsacademy.com">Vanilla JS Academy</a>.</strong> The <a href="https://vanillajsacademy.com">Vanilla JS Academy</a> is a project-based online JavaScript training program for beginners.{{ if lt (now.Format "20060102") 20180429 }} Get early bird pricing if you join {{ if eq (now.Format "20060102") 20180428 }}today{{ else if eq (now.Format "20060102") 20180427 }}by tomorrow{{ else if gt (now.Format "20060102") 20180421 }}by Saturday{{ else }}in the next two weeks{{ end }}. Don't&nbsp;wait!{{ end }}</em></mark></p>
{{ end }}
{{ end }}

{{ if eq (.Get "for") "global" }}
	{{ partial "cta-global.html" }}
{{ end }}