<script src="{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/loadJS.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/loadJS.js" | absURL }}{{ end }}"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find"></script>
<script>
	if ('querySelector' in document && 'addEventListener' in window && 'classList' in document.createElement('_')) {
		loadJS('{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/main.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/main.js" | absURL }}{{ end }}');
		if (document.querySelector('#form-search')) {
			loadJS('{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/lunr.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/lunr.js" | absURL }}{{ end }}');
		}
		if (document.querySelector('[data-asm="pet-listings"]')) {
			loadJS('{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/asm.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/asm.js" | absURL }}{{ end }}')
		}
		if (document.querySelector('[data-asm-pet-select]')) {
			loadJS('{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/petSelect.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/petSelect.js" | absURL }}{{ end }}')
		}
		if (document.querySelector('[data-form-save]')) {
			loadJS('{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/form-saver.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/form-saver.js" | absURL }}{{ end }}', function () {
				formSaver.init({deleteClear: false});
			});
		}
		if (document.querySelector('[action*="service.sheltermanager.com"]')) {
			loadJS('{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/bouncer.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/bouncer.js" | absURL }}{{ end }}', function () {
				var bouncer = new Bouncer('[action*="service.sheltermanager.com"]');
			});
		}
	}
</script>