<!-- Stylesheet -->
<link rel="stylesheet" href="{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/css/main.min.%s.css" $.Site.Params.version | absURL ) }}{{ else }}{{ "/css/main.css" | absURL }}{{ end }}">

<!-- Feature Detection -->
<script src="{{ if eq $.Site.Params.cacheBust true }}{{ ( printf "/js/detects.min.%s.js" $.Site.Params.version | absURL ) }}{{ else }}{{ "/js/detects.js" | absURL }}{{ end }}"></script>
<script>
	;(function () {
		var css = 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';
		if (getCookie('fontsLoaded')) {
			loadCSS(css);
			document.documentElement.className += ' fonts-loaded';
		} else {
			loadCSS(css);
			var font = new FontFaceObserver('Open Sans');
			font.load().then(function () {
				var expires = new Date(+new Date() + (7 * 24 * 60 * 60 * 1000)).toUTCString();
				document.cookie = 'fontsLoaded=true; expires=' + expires;
				document.documentElement.className += ' fonts-loaded';
			});
		}
	})();
</script>