<!-- Stylesheet -->
<style type="text/css">
	{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/paws/static/css/main.min.css" | safeCSS }}{{ else }}{{ readFile "/themes/paws/static/css/main.css" | safeCSS }}{{ end }}
</style>

<!-- Feature Detection -->
<script>
	{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/paws/static/js/detects.min.js" | safeJS }}{{ else }}{{ readFile "/themes/paws/static/js/detects.js" | safeJS }}{{ end }}
</script>
<script>
	;(function () {
		var css = 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';
		if (getCookie('fontsLoaded')) {
			loadCSS(css);
			document.documentElement.className += ' fonts-loaded';
		} else {
			loadCSS(css);
			var font = new FontFaceObserver('Open Sans');
			font.load().then(function () {
				var expires = new Date(+new Date() + (7 * 24 * 60 * 60 * 1000)).toUTCString();
				document.cookie = 'fontsLoaded=true; expires=' + expires;
				document.documentElement.className += ' fonts-loaded';
			});
		}
	})();
</script>