<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
		<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
		{{ if .Params.noIndex }}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{{ end }}

		{{- if and (isset .Params "redirect") (ne .Params.redirect "") -}}
		<link rel="canonical" href="{{ .Params.redirect }}">
		<meta http-equiv="refresh" content="0; url={{ .Params.redirect }}">
		{{- end -}}

		{{ if eq .Type "redirects" }}
			{{ if .IsPage }}
				{{ if ne .Params.redirect "" }}
					<script>window.location.href = '{{ .Params.redirect }}';</script>
				{{ end }}
			{{ else  }}
				<link rel="canonical" href="{{ .Site.BaseURL }}">
				<meta http-equiv="refresh" content="0; url={{ .Site.BaseURL }}">
			{{ end }}
		{{ end }}

		<!-- Mobile Screen Resizing -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- RSS Feed -->
		<!-- {{ "posts/index.xml" | absURL }} -->
		<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed" href="{{ $.Site.Params.rssURL }}">
		<link rel="feed" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed" href="{{ $.Site.Params.rssURL }}">

		{{ if eq .Type "redirects" }}
			{{ if .IsPage }}
				{{ if ne .Params.redirect "" }}
					<script>window.location.href = '{{ .Params.redirect }}';</script>
				{{ end }}
			{{ else  }}
				<script>window.location.href = '{{ .Site.BaseURL }}';</script>
			{{ end }}
		{{ end }}

		{{ partial "header-open-graph.html" }}

		{{ partial "header-favicon.html" }}

		{{ partial "header-styles-and-scripts.html" . }}
	</head>

	<body class="type-{{ .Type }} {{ if .IsPage }}page-single{{ else }}page-list{{ end }}" id="page-{{ .UniqueID }}">

		{{ partial "nav-a11y.html" }}

		{{ partial "nav-main.html" . }}

		<main id="main" tabindex="-1">

			<div{{ if not .Params.fullWidth }} class="container{{ if .Params.wide }} container-large{{ end }}"{{ end }}>