/**
 * @section Form Validation
 * Styling for form validation
 */

.error {
	@extend .margin-bottom-small;
	border-color: $color-danger;
}

.error-message,
.success-message {
	font-style: italic;
	margin-bottom: 1em;
}

.error-message {
	color: $color-danger;
}

.success-message {
	color: $color-success;
}